.primary-header {
    width: 100%;
    color: white;
    padding: 5px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.header-on-top {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rbga(0,0,0,0);
}

.header-on-scroll {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
}

.primary-header img {
    max-height: 100px;
}

.primary-header nav{
    width: 33.33%;
}

.primary-header nav ul {
    gap: 20px;
}

.primary-header .button {
    background-color: var(--primary);
    border-color: var(--primary);
    font-size: 18px;
    color: #ffffff;
    padding: 7px 40px;
}

@media screen and (max-width: 500px) {
    .primary-header { flex-direction: column; padding: 20px 30px; }
    .primary-header nav { width: 100%; padding-bottom: 20px }
    .primary-header nav ul.center { justify-content: space-between; }
    .primary-header .button { margin-top: 20px; }
}